html,
body,
#app {
  height: 100%;
  box-sizing: content-box;
}

body {
  margin: 0;
  padding: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

li.is-current {
  background-color: #ececec;
}

a.button {
  text-decoration: none;
}
